:root {
  --yellow: #FFD15B;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 500px;
  width: 100%;
  overflow: hidden;
  /* Cela pourrait aider si le contenu interne dépasse */


}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container-logo {
  display: flex;
  width: 100%;
  justify-content: start;
}

.logo {
  position: absolute;
  top: 51px;
  left: 45px;
}

.slogan {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Anton", sans-serif;
  font-size: clamp(18px, 5vw, 44px);
  letter-spacing: 0em;
  color: #FFD15B
}

.background {
  z-index: -1;
}

body {
  background-color: #EDEDED !important;
}

.search-container {
  position: absolute;
  width: 954px;
  height: 80px;
  top: 70%;
  left: 50%;
  background-color: red;
  transform: translateX(-50%);
  border-radius: 11px;
  width: clamp(300px, 60vw, 100%);
}

.search-container input {
  outline: none;
  font-size: 16px;
  position: absolute;
  padding: 20px;
  width: 100%;
  border-radius: 11px;
  height: 100%;
  box-sizing: border-box;


  /* Assure que le padding est inclus dans la hauteur */
}

.search-icon {
  position: absolute;
  height: clamp(20px, 100%, 50px);
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Style du bouton */
.dropbtn {
  text-align: start;
  position: relative;
  background-color: #ffffff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 11px 11px 0px 0px;
}

.dropdownSVG {
  position: absolute;
  right: 10%;
}

/* card */

.card {
  position: relative;
  flex-direction: column;
  border: solid 1px rgba(27, 3, 3, 0.12);
  height: 650px;
  border-radius: 21px;
}

.recipeTime {
  position: absolute;
  top: 3%;
  right: 2%;
  padding: 6px;
  border-radius: 13px;
  background-color: var(--yellow);

  font-size: 11px;
}


.card-img-top {
  width: 100%;
  height: 40%;
}

.container-global-ingredients,
.card-body {
  padding: 20px 20px 5px 20px;
}

.container-ingredients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
}

.container-ingredient {
  margin: 5px 0 5px 0;
}

.ingredient-title {
  font-weight: bold;
  line-height: 20px;
}

.container-recipesCards {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 40px;
}

.card-title {
  font-size: 18px;
  padding-bottom: 20px;
  font-family: 'anton';
}

.category {
  padding: 10px 0px 10px 0;
}

.card-img-top {
  height: 40%;
  border-radius: 21px 21px 0 0;
}

.card-img-top,
.card-body {
  width: 100%;
  /* Assure que le contenu des cartes s'aligne correctement */
}

.recipes {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.recipes-container {
  display: grid;
  justify-content: center;
}

h6,
.card-text,
.ingredients-container {
  font-family: 'manrope';
  font-size: 14px;
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* Nombre de lignes que vous souhaitez afficher */
  line-height: 1.2em;
  /* Hauteur de ligne */
  max-height: 3.6em;
  /* line-height * nombre de lignes */
  text-overflow: ellipsis;
}

.container-search-category {
  position: relative;
}

.container-search-category input {
  margin: 10px;
  padding: 5px;
  width: calc(100% - 20px);
  outline: none;
}

.searchCategoryIcon {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 13%;
  top: 50%;
  transform: translateY(-50%);
}


h6 {
  font-size: 12px
}

.container-recipesCards,
.dropdown {
  display: inline-grid;
  margin: 0 auto;
  gap: 30px;
  margin-top: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  height: 250px;
  width: 100%;
  overflow: auto;
  z-index: 1;
}


.dropdown {
  position: relative;
  margin-right: 30px;
  z-index: 1;
  width: clamp(20px, 20vw, 230px)
}


.countRecipe {
  font-family: 'anton';
  font-size: 21px;
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

.container-dropdown {
  position: relative;
}

.search-icon:hover,
.search-icon:hover rect {
  fill: var(--yellow)
}

.search-icon:hover circle,
.search-icon:hover line {
  stroke: black;
}

.svg-rotate {
  transform: rotate(180deg);
}

.dropdown-content.open {
  display: block;
}

.category-item,
.dropdownSearch {
  display: block;
  font-size: 14px;
  transition: width 0.3s ease;
}

.category-item:hover {
  background-color: var(--yellow);
  cursor: pointer;
  box-sizing: content-box;
  /* Ajustez la largeur pour inclure le padding de 20px de chaque côté */
}

.category-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.tag {
  width: 150px;
  height: 40px;
  background-color: var(--yellow);
  padding: 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0px 20px 0px;
}

.tag svg {
  stroke: 25px;
}

.recipeNotFound {
  font-style: italic;
  font-size: 18px;
  width: 50vw;
  text-align: end;
  font-family: 'anton';
}

/* Définition du style de l'élément contenant la croix de suppression */

@media only screen and (max-width:1500px) {
  .container-recipesCards {
    grid-template-columns: repeat(2, 1fr);
    /* Adaptation du grid pour afficher 2 colonnes */
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

  /* Styles pour tablettes */

  .slogan {
    font-size: clamp(16px, 4vw, 32px);
    /* Ajustement de la taille du texte */
  }

  .search-container {
    width: 80%;
    /* Ajustement de la largeur */
    top: 60%;
    /* Ajustement de la position */
  }


}